.wrapper {
  width: 1600px;
  margin: 2em auto;
}

mat-card {
  margin: 2em auto;
}

.projectFilter {
  width: 100%;
  display: flex;
  > div {
    &:first-child {
      padding-right: 20px;
    }
    flex: 50%;
  }
}

.filterInput,
table {
  width: 100%;
}

.days-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.days-full-width {
  width: 100%;
}
